@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

#onlineSign {
  float: right;
  margin: 20px 0 20px 0;
  max-width: 15px;
  background-color: #ADFF2F;
  border-radius: 15px;

}

#usersOnline {
  font-style: italic;
  float: right;
  padding-right: 5%;
  margin: 20px 10px 20px 0;
  padding-left: 10px;
  color: white;
  font-weight: bolder;
}

.chatbar {
  background: tomato;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.notification {
    width: 70%;
    font-style: italic;
    text-align: center;
    color: #E04D0D;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  font-weight: bolder;
  flex: 2;
}

.message {
  display: flex;
}

.currentTime,
.message.system,
.message-content,
.message-username  {
  overflow: hidden;
  padding: 0 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding: 15px;
  font-style: italic;
}

.currentTime,
.message.system, {
  font-style: italic;
}

.currentTime {
  color: grey;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: tomato;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}
